*{padding: 0px;margin: 0px;}

body {width: 1350px;margin: auto;}
header {
	background-image:url(batu.jpg) ;}


header  {background-image: url(background.jpg);
		background-size: cover;
		positionr:!important ;}

header h1 {color:black;padding: 50px; padding-bottom: 15px;}
header p {color:black ;padding: 50px;padding-top: 0px;}

menu {background-color:black ;height: 50px; ali: center;}
menu ul {list-style: none; line-height: 50px}
menu ul li {float:left; width: 20%;text-align: center;}
menu ul li a {color: #ede9e6; text-decoration: none; font-family: verdana;display: block;}
menu ul li a:hover {background-color: brown;color: white;}

article {background-color: #d4d0d0;}
article h2 {font-family: verdana;font-style: italic;padding: 20px;}
article img {float: left; width: 150px;margin: 0px 20px;}
article p {padding-bottom:30px ;font-size: 18px; text-align: justify; padding-left: 20px;padding-right: 20px;}

.navbar{
	align-content: center;

.title {
		position: absolute;}
	top:50%;
	left:50% ;
	transform: translate('-50%,-50%');
}
.title h1
	color:white;